<div class="container py-4">
  <div class="contact-form">
    <form action="#" id="contact">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
          <div class="form-group">
            <label class="mb-2 fw-light">Make:</label>

            <select class="form-select">
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
          <div class="form-group">
            <label class="mb-2 fw-light">Model:</label>

            <select class="form-select">
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
          <div class="form-group">
            <label class="mb-2 fw-light">Price:</label>

            <select class="form-select">
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
          <div class="form-group">
            <label class="mb-2 fw-light">Mileage:</label>

            <select class="form-select">
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
          <div class="form-group">
            <label class="mb-2 fw-light">Engine size:</label>

            <select class="form-select">
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
          <div class="form-group">
            <label class="mb-2 fw-light">Fuel Type:</label>

            <select class="form-select">
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
          <div class="form-group">
            <label class="mb-2 fw-light">Year:</label>

            <select class="form-select">
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
            </select>
          </div>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
          <div class="form-group">
            <label class="mb-2 fw-light">Engine type:</label>

            <select class="form-select">
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
              <option value="">-- All --</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-sm-12 d-flex justify-content-md-center">
        <button class="btn btn-primary btn-lg">Search</button>
      </div>
      <br>
      <br>
    </form>
  </div>
  <div class="row">
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card shadow bg-light">
        <img alt=""
             src="https://www.ixbt.com/img/n1/news/2021/10/5/084ed9e98d6d6c45ac49b1474002d2f0_large_large.jpg"
             width="100%">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-md-8">
              <h5 class="link-primary" href="#"><a>2017 Chevrolet Sonic Premier Auto Sedan</a></h5>
            </div>
            <div class="col-md-4 d-flex justify-content-md-end justify-content-sm-start">
              <h4 style="white-space: nowrap; font-style: italic; font-weight: bold">$23.000</h4>
            </div>
          </div>
          <div class="row">
            <div class="card-text">
              <i class="bi bi-speedometer2"> 100.000 Km &nbsp;&nbsp;&nbsp;</i>
              <i class="bi bi-gear"> Petrol-Gas &nbsp;&nbsp;&nbsp;</i>
              <i class="bi bi-box"> 2.5L &nbsp;&nbsp;&nbsp;</i>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row mb-2">
            <div class="col-md-6 d-flex justify-content-md-center justify-content-start">
              <button class="border-0 bi bi-arrow-left-right" style="font-size: large"> Compare</button>
            </div>
            <div class="col-md-6 d-flex justify-content-md-center justify-content-start">
              <button class="border-0 bi bi-bookmark" style="font-size: large"> Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
