<div class="container py-4">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-light shadow-sm mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
              <div class="form-group">
                <label class="mb-2 fw-light">Make:</label>
                <select (change)='onSelectMake()' [(ngModel)]="searchCriteria.make" class="form-select">
                  <option *ngFor="let make of makes" [ngValue]="make">
                    {{make.name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
              <div class="form-group">
                <label class="mb-2 fw-light">Model:</label>
                <select [(ngModel)]="searchCriteria.model" class="form-select">
                  <option *ngFor="let model of models" [ngValue]="model">
                    {{model.name}}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
              <div class="form-group">
                <label class="mb-2 fw-light">Price:</label>
                <div class="input-group">
                  <input [(ngModel)]="searchCriteria.fromPrice" aria-label="From" class="form-control"
                         placeholder="From" type="text">
                  <input [(ngModel)]="searchCriteria.toPrice" aria-label="To" class="form-control" placeholder="To"
                         type="text">
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
              <div class="form-group">
                <label class="mb-2 fw-light">Year:</label>
                <div class="input-group">
                  <select [(ngModel)]="searchCriteria.fromYear" class="form-select">
                    <option value="0">From year</option>
                    <option *ngFor="let year of years" [ngValue]="year">
                      {{year}}
                    </option>
                  </select>
                  <select [(ngModel)]="searchCriteria.toYear" class="form-select">
                    <option value="0">To year</option>
                    <option *ngFor="let year of years" [ngValue]="year">
                      {{year}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
              <div class="form-group">
                <label class="mb-2 fw-light">Engine size:</label>
                <div class="input-group">
                  <select [(ngModel)]="searchCriteria.fromEngineSize" class="form-select">
                    <option value="0">From size</option>
                    <option *ngFor="let engineSize of engineSizes" [ngValue]="engineSize">
                      {{engineSize}}
                    </option>
                  </select>
                  <select [(ngModel)]="searchCriteria.toEngineSize" class="form-select">
                    <option value="0">To size</option>
                    <option *ngFor="let engineSize of engineSizes" [ngValue]="engineSize">
                      {{engineSize}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
              <div class="form-group">
                <label class="mb-2 fw-light">Fuel Type:</label>
                <select class="form-select">
                  <option value="">-- All --</option>
                  <option value="">-- All --</option>
                  <option value="">-- All --</option>
                  <option value="">-- All --</option>
                </select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
              <div class="form-group">
                <label class="mb-2 fw-light">Mileage:</label>

                <select class="form-select">
                  <option value="">-- All --</option>
                  <option value="">-- All --</option>
                  <option value="">-- All --</option>
                  <option value="">-- All --</option>
                </select>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4">
              <div class="form-group">
                <label class="mb-2 fw-light">Transmission:</label>

                <select class="form-select">
                  <option value="">-- All --</option>
                  <option value="">-- All --</option>
                  <option value="">-- All --</option>
                  <option value="">-- All --</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-12 d-flex justify-content-md-center">
            <button (click)="filterCars()" class="btn btn-primary btn-lg">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let car of cars" class="col-xl-4 col-md-6 mb-4">
      <div class="card shadow bg-light">
        <img alt=""
             height="300"
             src="{{car.imageLink}}"
             width="100%">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-md-8">
              <h5 class="link-primary" href="#"><a>{{car.year}} {{car.make}} {{car.model}}</a></h5>
            </div>
            <div class="col-md-4 d-flex justify-content-md-end justify-content-sm-start">
              <h4 style="white-space: nowrap; font-style: italic; font-weight: bold">${{car.price}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="card-text">
              <i class="bi bi-speedometer2"> {{car.mileage}} Km &nbsp;&nbsp;&nbsp;</i>
              <i class="bi bi-gear"> {{car.engineType}} &nbsp;&nbsp;&nbsp;</i>
              <i class="bi bi-box"> {{car.engineCapacity}}L &nbsp;&nbsp;&nbsp;</i>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row mb-2">
            <div class="col-md-6 d-flex justify-content-md-center justify-content-start">
              <button class="border-0 bi bi-arrow-left-right" style="font-size: large"> Compare</button>
            </div>
            <div class="col-md-6 d-flex justify-content-md-center justify-content-start">
              <button class="border-0 bi bi-bookmark" style="font-size: large"> Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
