<nav class="navbar navbar-expand-xxl navbar-dark bg-dark">
  <div class="container px-5 offset-2 col-md-8">
    <a class="navbar-brand">Auto Scanner</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#!">Search Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Find a Dealership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Value Your Car</a>
        </li>
        <li class="nav-item btn">
          <button class="btn btn-success" href="#!" type="button">Get Approved</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary" href="#!" type="button">View Saved Cars</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
