<nav class="navbar navbar-expand-lg navbar-dark py-3 bg-dark">
  <div class="container">
    <a class="navbar-brand">Auto Scanner</a>
    <button class="navbar-toggler"
            data-bs-target="#navbarSupportedContent"
            data-bs-toggle="collapse"
            type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#!">Search Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Find a Dealership</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">Value Your Car</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!"><i class="bi bi-person"></i> View Saved Cars</a>
        </li>
      </ul>
      <button class="btn btn-success navbar-btn" href="#!">Get Approved</button>
    </div>
  </div>
</nav>
