<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let car of cars" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="{{car.imageLink}}" alt="" class="img-fluid w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{car.brand}}</h5>
            <h5>{{car.model}}</h5>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{car.price}} $</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{car.year}} year</li>
          <li class="list-group-item"><i class="fa fa-envelope float-right"><a href="{{car.link}}">web-site</a></i></li>
        </ul>
      </div>
    </div>
  </div>
</div>
