<div id="booking" class="section">
  <div class="section-center">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-md-push-5">
          <div class="booking-cta">
            <h1>Find your match</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi facere, soluta magnam consectetur molestias itaque
              ad sint fugit architecto incidunt iste culpa perspiciatis possimus voluptates aliquid consequuntur cumque quasi.
              Perspiciatis.
            </p>
          </div>
        </div>
        <div class="col-md-4 col-md-pull-7">
          <div class="booking-form">
            <form>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">Make</span>
                    <select class="form-control" [(ngModel)]="searchCriteria.brand" name="brand">
                      <option *ngFor="let make of brands" [ngValue]="make">
                        {{make}}
                      </option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">Model</span>
                    <select class="form-control" [(ngModel)]="searchCriteria.model" name="model">
                      <option *ngFor="let model of models" [ngValue]="model">
                        {{model}}
                      </option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">From year</span>
                    <select class="form-control" [(ngModel)]="searchCriteria.fromYear" name="fromYear">
                      <option *ngFor="let year of years" [ngValue]="year">
                        {{year}}
                      </option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">To year</span>
                    <select class="form-control" [(ngModel)]="searchCriteria.toYear" name="toYear">
                      <option *ngFor="let year of years" [ngValue]="year">
                        {{year}}
                      </option>
                    </select>
                    <span class="select-arrow"></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">From price</span>
                    <input class="form-control" [(ngModel)]="searchCriteria.fromPrice" type="number" name="fromPrice">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <span class="form-label">To price</span>
                    <input class="form-control" [(ngModel)]="searchCriteria.toPrice" type="number" name="toPrice">
                  </div>
                </div>
              </div>
              <div class="form-btn">
                <button class="submit-btn" (click)="search()">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
